.season-collections {
}
.season-collections__sections {
   display: flex;
   justify-content: space-between;
   column-gap: 20px;
}
.season-collections__section {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.season-collections__section-image {
   margin-bottom: 26px;
}
.season-collections__section-title {
   margin-bottom: 36px;
}
.season-collections__btn {
}
